<footer id='footer' class='footer-bottom bg-light'>
  <div class='container'>
    <div class='py-3'>
      <%= link_to t('defaults.terms_of_use'), page_path('terms') %>
      <%= link_to t('defaults.privacy_policy'), page_path('privacy'), class: 'ps-3' %>
      <%= link_to t('defaults.contact_us'), 'https://forms.gle/2FAzfptrsT1yezrW9', class: 'ps-3' %>
    </div>
    <div class='d-grid'>
      <div class='copyright'>
        <p>Copyright © 2023. 篠笛練習曲自動作成</p>
      </div>
    </div>
  </div>
</footer>