<footer id='footer' class='footer-bottom bg-light'>
  <div class='container'>
    <div class='d-grid'>
      <div class='copyright'>
        <p>Copyright © 2023. 篠笛練習曲自動作成</p>
      </div>
    </div>
  </div>
</footer>
